@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #323232;
  --text-color: #ffffff;
  --top-color: #121212;
  --highlight-color: #cc5566;
  --highlight-text: #fff;
}

.light-mode {
  --bg-color: #ffffff;
  --text-color: #000000;
  --top-color: #dddddd;
  --highlight-color: #5555cc;
  --highlight-text: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.home-glow-div {
  --angle: 0deg;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: conic-gradient(
    from var(--angle),
    transparent,
    var(--highlight-color),
    transparent,
    var(--highlight-color),
    transparent
  );
  animation: rotate-border infinite 4s linear;
}

@keyframes rotate-border {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.typewriter {
  font-family: monospace;
  overflow: hidden;
  border-right: 0.2rem solid var(--text-color);
  letter-spacing: 0.2rem;
  white-space: nowrap;
  animation:
    typewriter 3s steps(30, end),
    blinking 0.75s step-end infinite;
}

@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes blinking {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: var(--text-color);
  }
}

.hover-grow:hover {
  background-color: var(--highlight-color);
  transform: scale(1.1);
  transition: all ease-out 0.25s;
  color: var(--highlight-text);
  animation: button-hover 1s ease-in-out infinite;
}

.hover-grow:active {
  transform: scale(0.9);
  transition: all ease-in 0.05s;
  animation: none;
  background-color: var(--highlight-color);
  color: var(--highlight-text);
}

@keyframes button-hover {
  25% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }
}
